<!DOCTYPE html>
<html>
  <head>
    <title>Diet39345</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <script src="index.js"></script> %>
     <%# <script type="text/javascript" src="/index.js"></script> %>

  </head>

  <body>

    <header class="header">
      <div class="header_bar row">
        <h1 class="grid-6"><a href="/">Diet Calculation</a></h1>
        <% if user_signed_in? %>
          <div class="header-navi">
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%> </li>
          </div>
        <%else%>
          <div class="header-navi">
             <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
             <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>

          </div>
        <%end%>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright Diet Calculation 2023.
      </p>
    </footer>
  </body>
</html>
